<section class="sections">
    <input type="password" placeholder="Enter password" [(ngModel)]="password">
    <div class="strength">
        <div class="main" [ngClass]="{'red': password.length > 0 } ">
        </div>
        <div class="main" [ngClass]="{'red': password.length > 0 && password.length < 8, 'yellow': password.length >= 8 && (testInput(numbers) && testInput(letters) || testInput(numbers) && testInput(specialCharacters) || testInput(letters) && testInput(specialCharacters)) } ">
        </div>
        <div class="main" [ngClass]="{'red': password.length > 0 && password.length < 8, 'green': password.length >= 8 && (testInput(numbers) && testInput(letters) && testInput(specialCharacters)) }">
        </div>
    </div>
</section>

